.container {
  background-color: var(--back-color);
}
.repairList {
  list-style: none;
}
@media (max-width: 760px) {
  .container {
    max-width: 100%;
    height: auto;
    scroll-margin-top: 90px;
  }
  .img {
    max-width: 100%;
    height: auto;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 10px;
  }
  .h2 {
    font-size: 1.5em;
    font-weight: 700;
    color: var(--heading-color);
  }
  .p {
    line-height: 1.4;
    text-align: justify;
  }
  .svg {
    width: 20px;
  }
}
@media (min-width: 761px) {
  .container {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 50px;
    gap: 80px;
  }
  .img {
    width: 450px;
    height: 675px;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    gap: 40px;
    line-height: 1.5;
  }
  .svg {
    width: 100px;
  }
}
