*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width:760px) {
    .mainContainer{
        width: 100%;
    }
    .merriweatherRegular {
        font-family: 'Merriweather', serif;
        font-weight: 400;
        font-style: normal;
    }
    
}

@media (min-width:761px) {
.mainContainer{
    background-color: rgb(80, 5, 5);
    width: 1000px;
    margin-left: calc(50% - 500px);
    margin-right: calc(50% - 500px);
    height: 100vh;

}
}
    