* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: var(--back-color);
  }
@media (max-width:760px) {
    
    .container {
        width: 100%;
        margin-top: 90px;
    }
    .img{
        width: 100%;
    }
    .alink{
        scroll-margin-top: 90px;
        pointer-events: none;
    }
    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 10px 10px;
    }
    .h2{
        font-size: 1.5em;
        font-weight: 700;
    }
    .p{
        line-height: 1.4;
        text-align: justify;
    }
}
@media (min-width:761px){
    .container{
        display: flex;
        
    }
    .content{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        line-height: 1.4;
        margin-right: 200px;
        margin-left: 30px;
    }

    .img{
        width: 400px;
    }

}