.container {
  background-color: var(--back-color);
}

@media (max-width: 760px) {
  .container {
    max-width: 100%;
    height: auto;
    margin-top: 90px;
  }
  .img {
    width: 100%;
    height: auto;
    aspect-ratio: 9/13.5;
    scroll-margin-top: 90px;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 10px;
  }
  .h2 {
    font-size: 1.5em;
    font-weight: 700;
  }
  .p {
    line-height: 1.4;
    text-align: justify;
  }
  .svg {
    width: 20px;
  }
}
@media (min-width: 761px) {
  .container {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    gap: 80px;
    
  }
  .content {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    line-height: 1.5;
  }
  .img {
    width: 450px;
    height: 675px;
  }
  .adata{
    width: 100px;
    height: 100px;
  }
  .svg{
    height: 100px;
    width: 100px;
  }
}
