.header {
  background-color: #f1d8ab;
  text-align: center;
  position: relative;
  overflow: hidden;
  height: 140px;
  padding-top: 10px;
}

.title {
  color: var(--text-color);
  font-size: 2.5em;
  margin-bottom: 20px;
  position: relative;
  z-index: 2;
}
.nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  top: auto;
  width: 100%;
  top: 0;
}
.nav.fixed {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 70px;
}
.nav.scrolled {
  background-color: #f1d9ab;
}
.navContent {
  max-width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.neringos {
  display: none;
}
/* .neringos a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
  flex-grow: 1;
  padding-top: 5px;
  padding-bottom: 5px;
} */
.neringos.visible {
  display: block;
  width: 100%;
  font-size: 26px;
}
.navButton {
  background-color: #f1d9ab;
  color: var(--text-color);
  border: 1px solid var(--text-color);
  border-radius: 15px;
  padding: 4px 15px;
  margin-left: 10px;
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.navButton:hover {
  background-color: #654321;
  color: #f1d8ab;
  border-color: aliceblue;
  transform: scale(1.15);
}
