* {
    margin: 0;
    padding: 0;
}
@media (max-width:760px) {
    .desktopHeader{
display: none;
    }
    .sticky{
        position: fixed;
        top: 0; 
        width: 100%;  
    }
    .line1{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 30px;
        background-color: #f1d9ab;
        color: black;
        text-align: center;
        font-size: 1.2em;
        text-decoration: none;
        line-height: 1.5;
          }
    .line2{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 5px;
        height: 60px;
        background-color: #f2e8d3;
    }
    .line2 h2{
        color: black;
    }
    .logoImg{
        width: 50px;
        height: 50px;
    } 

}
@media (min-width:761px) {
  
    .sideMenu,
    .mobileHeader {
        display: none;
    }
    .topLine,
    .midleLine,
    .bottomLine {
        background-color: #a26c087d;
        width: 100%;
        padding-left: calc(50% - 500px);
        padding-right: calc(50% - 500px);
    }
    .topLine{
        height: 50px;
    }
    .bottomLine {
        background-color: lightgrey;
    }

    .fotoContainer {
        background-color: var(--back-color);
        width: 1000px;
        margin-left: calc(50% - 500px);
        margin-right: calc(50% - 500px);
    }

    .navTopLink {
        color: white;

    }

    .navTop,
    .navBottom {
        display: flex;
        gap: 30px;
        font-size: 20px;
        align-items: center;
        justify-content: flex-end;

    }

    .navBottom {
        justify-content: space-between;
    }

    .navTopLink,
    .navBottomLink {
        text-decoration: none;
    }
    .navTopLink{
        color: var(--heading-color);
    }
    .navBottomLink {
        color: black;
    }

    .midleLine {
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .midleLine img {
        height: 140px;
    }
}