.contactsContainer {
  background-color: var(--back-color);
}
@media (max-width: 760px) {
  .contactsContainer {
    width: 100%;
    scroll-margin-top: 90px;
  }
  .fbLink {
    display: flex;
    font-size: 1.3em;
    text-decoration: none;
    line-height: 1.5;
    align-items: center;
    justify-content: center;
    color: var(--heading-color);
  }
  .fbLink img {
    width: 30px;
    height: 30px;
    margin-left: 20px;
  }
  .contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 10px;
  }
  .contacts a {
    text-decoration: none;
    border: 2px solid var(--heading-color);
    border-radius: 5px;
    padding: 10px 15px;
    color: var(--heading-color);
  }
  .social {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
  }
  .social h2 {
    margin-top: 10px;
  }
  .map {
    width: 100%;
    padding: 5px;
  }
  .touched {
    background-color: var(--heading-color);
  }
}
@media (min-width: 761px) {
  .fbLink img {
    width: 30px;
    height: 30px;
    margin-left: 20px;
  }
  .contactsContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 10px;
  }
  .social {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .social h2 {
    margin-right: 250px;
  }
  .fbLink {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--heading-color);
    font-size: 1.2rem;
    padding: 20px;
  }
  .contacts {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 30px;
    line-height: 1.5;
  }
  .contacts a {
    width: 300px;
    text-decoration: none;
    color: var(--heading-color);
    border: 1px solid var(--heading-color);
    border-radius: 15px;
    padding: 5px 13px;
    font-size: 1.1rem;
  }
}
